/**
 * @2016 Copyrighted by Simpleportaljs 
 * automatically created simpleportal apiservice, Misusing of this file may invite legal actions!!
 * API <%= name %>
 * Date created : <%= modifiedDate %>
 */