{
	"<%= langId %>":{
	<%var count=0; for(var index in translations){var translation= translations[index];%>
		"<%= translation.key.toLowerCase() %>":"<%= translation.translation %>"<%= count == translations.length-1 ? '':','  %><%}%>}
}