<ul class="breadcrumb">
	<li><a href="#dashboard">Home</a></li>
	<li><a href="#<%= name %>"><%%= getMessage( "<%= name %>") %%>></a></li>
	<li class="active">Details</li>
</ul>
<hr/>

<%- include(bodytemplate) %>