<div class="container container-fluid">
	<div class="jumbotron">
		<h1><%= serverconfig.title %></h1>
		
	    <p class="lead"><%= serverconfig.description %></p>
	    <p>
	    	<a class="btn btn-lg btn-success" href="/simpleportal/apidoc" role="button">API Doc</a>
	    </p>
	</div>
	
	<div class="row marketing">
		<div class="col-lg-6">
			<h4>API Loader</h4>
	      	<p>A smart way to dynamically load the apis from a folder.</p>
		      <h4>Plugin Loader</h4>
	      	<p>Smart way to load various web plugins.</p>
	      
	      	<h4>Web Filter</h4>
	      	<p>Web filter specific to the complete server, or specific to the plugins at the startup.</p>
		</div>
		<div class="col-lg-6">
			<h4>MongoDB Database pool</h4>
	      	<p>Easy way to register and connect to the mongo db collection and database.</p>
	
	      	<h4>URL router like express</h4>
	      	<p>Expressjs like url routing</p>
	
	      	<h4>OAuth wrapper</h4>
	      	<p>Oauth wrapper for connecting remote services from configuration.</p>
		</div>
	</div>
</div>