<ul class="breadcrumb">
	<li><a href="#dashboard">Home</a> <span class="divider">/</span></li>
	<li><a href="#<%= name %>"><%%= getMessage( "<%= name %>") %%>> </a> <span class="divider">/</span></li>
	<li class="active">Details</li>
</ul>
<hr/>

<%- include(bodytemplate) %>