<meta charset="utf-8">
<title>Alveolae - Admin Dashboard</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">    

<!-- CSS files-->
<link href="/alveolae-theme/css/bootstrap.css" rel="stylesheet">
<link href="/alveolae-theme/css/bootstrap.min.css" rel="stylesheet">
<link href="/alveolae-theme/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="/alveolae-theme/css/alveolae.css" rel="stylesheet">
<link href="/alveolae-theme/css/font-awesome/css/font-awesome.css" rel="stylesheet">

<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->