<ol class="breadcrumb"><li><%= getMessage("resource-editor") %><li></ol>

<!-- <button class="btn btn-default btn-xs showresources"><i class="glyphicon glyphicon-list"></i> <%= getMessage("resource-list") %></button> -->
<div class="row editor_row">
	<div class="col-sm-3 editor_resource_col"></div>
	<div class="handler" id="handler_vertical"></div>
	<div class="col-sm-9 editor_col">
		<div id="editorcontainer">
			<textarea class="form-control" rows="20" style="min-height:600px;" width="100%" id="editor" name="editor"></textarea>
		</div>
	</div>
</div>