<%%draw_dynamic_timeline_block = function(blocktype, blockdata, titlefield){%>
<div class="cd-timeline-block">
    <div class="cd-timeline-img cd-<%%= blocktype %>"> 
    	<img src="cd-icon-<%%= blocktype %>.svg" alt="<%%= blocktype %>"> 
    </div>
    <!-- cd-timeline-img -->
	<div class="cd-timeline-content">
		<h2><%= blockdata.title %></h2>
		<p><%= blockdata.description %></p>
		<a href="#0" class="cd-read-more"><%%= getMessage("read-more")%></a>
		<span class="cd-<a href="http://www.jqueryscript.net/time-clock/">date</a>">Jan 14</span> 
	</div>
	<!-- cd-timeline-content --> 
</div>
<%%}%>
<%%draw_dynamic_timeline_block_image = function(name, dynamicresult, tableheaderindex){%>
<div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture"> 
    	<img src="cd-icon-picture.svg" alt="Picture"> 
    </div>
    <!-- cd-timeline-img -->
	<div class="cd-timeline-content">
		<h2>Title of section 1</h2>
		<p> Content 1 </p>
		<a href="#0" class="cd-read-more">Read more</a>
		<span class="cd-<a href="http://www.jqueryscript.net/time-clock/">date</a>">Jan 14</span> 
	</div>
	<!-- cd-timeline-content --> 
</div>
<%%}%>
<%%draw_dynamic_timeline = function(name, dynamicresult, tableheaderindex){%>
<section id="cd-timeline" class="cd-container">
  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"> <img src="cd-icon-movie.svg" alt="Movie"> </div>
    <!-- cd-timeline-img -->
    
    <div class="cd-timeline-content">
      <h2>Title of section 2</h2>
      <p> Content 2 </p>
      <a href="#0" class="cd-read-more">Read more</a> <span class="cd-date">Jan 18</span> </div>
    <!-- cd-timeline-content --> 
  </div>
  <!-- cd-timeline-block -->
  
  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture"> <img src="cd-icon-picture.svg" alt="Picture"> </div>
    <!-- cd-timeline-img -->
    
    <div class="cd-timeline-content">
      <h2>Title of section 3</h2>
      <p> Content 3 </p>
      <a href="#0" class="cd-read-more">Read more</a> <span class="cd-date">Jan 24</span> </div>
    <!-- cd-timeline-content --> 
  </div>
  <!-- cd-timeline-block -->
  
  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-location"> <img src="cd-icon-location.svg" alt="Location"> </div>
    <!-- cd-timeline-img -->
    
    <div class="cd-timeline-content">
      <h2>Title of section 4</h2>
      <p> Content 4 </p>
      <a href="#0" class="cd-read-more">Read more</a> <span class="cd-date">Feb 14</span> </div>
    <!-- cd-timeline-content --> 
  </div>
  <!-- cd-timeline-block -->
  
  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-location"> <img src="cd-icon-location.svg" alt="Location"> </div>
    <!-- cd-timeline-img -->
    
    <div class="cd-timeline-content">
      <h2>Title of section 5</h2>
      <p> Content 5 </p>
      <a href="#0" class="cd-read-more">Read more</a> <span class="cd-date">Feb 18</span> </div>
    <!-- cd-timeline-content --> 
  </div>
  <!-- cd-timeline-block -->
  
  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"> <img src="cd-icon-movie.svg" alt="Movie"> </div>
    <!-- cd-timeline-img -->
    
    <div class="cd-timeline-content">
      <h2>Final Section</h2>
      <p> Content 6 </p>
      <a href="#0" class="cd-read-more">Read more</a> <span class="cd-date">Feb 26</span> </div>
    <!-- cd-timeline-content --> 
  </div>
  <!-- cd-timeline-block --> 
</section>
<%}%>