<div class="container" style="min-height:280px;">
  	<div data-ajax-url="/view/mediadir/7082a436d661c6672f380ac2ab42be8c/photos?template=carousel" data-ajax="true"></div>
</div>
<div class="container">
	<h1>About <%= title %></h1>
 	<div class="col-md-12">
		<p> 
			<span class="schooltitle">ALNOOR MODEL SCHOOL</span> is an educational institution run by the grand children of Anjuma in the memory of their grand mother Anjuma .It was the long cherished dream of our chairman to establish a well organized educational institution to cater the need of our neighborhood. The anjuma educational trust who manages the school is aiming at the upliftment of the society in its social, cultural, and educational spheres. The school commenced its functioning in 2005 at their ancestral home and later on moved to purpose built school building. The school is situated 400 meter off the Kannur – Mattanur road near Varam town, Kannur.
			<br /><br />When  <span class="schooltitle">ALNOOR MODEL SCHOOL</span> started it strive immediately to create those traditions which are the hallmarks of all good schools,a respect for the integrity and individuality of each student, a faculty and curriculum which inspires a love of learning, for its own sake and an ethos which promotes personal responsibility.  All new schools are faced with advantages and disadvantages. We intend to use the former to minimize the latter.  Being new we are able to choose the most clearly proven and successful models of teaching and pastoral care and to be combine these with most modern educational technologies and principles.
		</p>
	</div>
</div>
<div class="container">
    <div class="row text-center">
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-bullseye fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Our aim</h4>
            <p class="text-muted">Our aim for every student who enters Al-NOOR model school is
			to provide a secure environment where they will be given
			opportunities to enlarge their knowledge and develop their social
			skills.
				<div class="read"><a href="pages/our-aim.html">Read more &raquo;</a></div>	
			</p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-support fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Our MISSION</h4>
            <p class="text-muted">We will provide only the best for our students .This will be
			reflected in the reflected in the experienced and dedicated faculty
			who have been appointed, the examples we set, and the opportunities
			we provide in both informal and formal settings
				<div class="read"><a href="pages/our-Mission.html">Read more &raquo;</a></div>	
			</p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-bullhorn fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Latest news</h4>
            <p class="text-muted">AL–NOOR MODEL School launches its new school year ,we are excited
				about the on-going development and implementation of our programmes
				for learning .</p>
        </div>
    </div>
</div>