<nav class="navbar navbar-fixed-top">
	<div class="sidepanel" data-template="toppanel.html" id="sidepanel"></div>
	<div class="container-fluid" id="header" style="margin-left:50px;"></div>
</nav>
<!-- Content container -->
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-offset-0 col-sm-12 sidepanel" data-template="toppanel.html" id="sidepanel"></div>
		<div class="col-sm-offset-6 col-sm-6 sidepanel_control" data-toggle="down"  style="display:none">
			<span class="btn btn-xs btn-default btn-primary" style="margin-top:-2px;">More <i class="glyphicon glyphicon-menu-down"></i></span>
		</div>
	</div>
	<div class="row content">
		<div class="col-sm-12 main" id="main" role="main">
			<div class='loading'></div>
		</div>
	</div>
</div>