<div data-swipe-close='false' data-theme='a' data-role='panel' id='<%%= pageid %>' data-position='left' data-display='push'>
	<div data-role='header' data-position="fixed" data-theme='<%%= themeskin %>'>
		<a data-iconpos="notext" data-inline="true" data-direction="reverse" href="#settings" data-icon="gear" data-prefetch="true">Settings</a>
		<h2></h2>
	</div>
	<div data-role="content" style="margin-top:40px;">
   		<%%= pagedata %>
	</div>
</div>