<div data-role="popup" id="<%%= pageid %>" style="width:90%;height:95%;" data-overlay-theme="a" data-theme='<%%= themeskin %>'>
	<div data-role="header">
		<h2>
			<%%= title %>
		</h2>
		<a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
	</div>
	<div class="ui-content" data-role="content">
		<%%= pagedata %>
	</div>
</div>